<!-- button-page.component.html -->
<div class="button-container">
  <h1>Selecione o número do seu grupo:  </h1>
    <div class="button-row">
      <button (click)="navegarEnigma(1)" class="button color1">Grupo 1</button>
      <button (click)="navegarEnigma(2)"  class="button color2">Grupo 2</button>
    </div>
    <div class="button-row">
      <button (click)="navegarEnigma(3)"  class="button color3">Grupo 3</button>
      <button (click)="navegarEnigma(4)"  class="button color4">Grupo 4</button>
    </div>
    <div class="button-row">
      <button (click)="navegarEnigma(5)"  class="button color5">Grupo 5</button>
      <button (click)="navegarGrupo()"  class="button color6">Grupo 6</button>
    </div>
  </div>
  