/* book-page.component.css */
h1{
    font-family: 'Courier New', Courier, monospace;
}
.book-container {
    text-align: center;
    margin: 20px;
  }
  
  img {
    max-width: 300px;
    height: auto;
  }
  
  .dica-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
  }
  
  .popup {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .popup button {
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  /* Estilizando os botões de dica */
.dica-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .dica-button:hover {
    background-color: #0056b3;
  }
  
  .enigma-container{
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .dica-container{
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }