/* groupsix.component.css */

.enigma-list-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enigma-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  position: relative;
}

.enigma-item p {
  margin: 0;
  display: flex;
  justify-content: center; /* Centralizar os enigmas */
  align-items: center;
}

.enigma-item button {
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

.enigma-item button[disabled] {
  background-color: #ddd;
  cursor: not-allowed;
}

.enigma-item span {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
}

.encerrar-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.encerrar-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
