<!-- book-form.component.html -->

<div class="book-form-container">
  <h2>Cadastro de Livro</h2>

  <form (ngSubmit)="saveBooks()" #bookForm="ngForm">
    <div class="form-group">
      <label for="title">Título do Livro:</label>
      <input type="text" id="title" name="title" [(ngModel)]="book.title" required>
    </div>

    <div class="form-group">
      <label for="image">URL da Imagem do Livro:</label>
      <input type="text" id="image" name="image" [(ngModel)]="book.image" required>
    </div>

    <div *ngFor="let groupId of groupIds">
      <h3>Grupo {{ groupId }}</h3>

      <div class="form-group">
        <label for="enigma{{ groupId }}">Enigma:</label>
        <textarea id="enigma{{ groupId }}" name="enigma{{ groupId }}" [(ngModel)]="enigmas[groupId]" required></textarea>
      </div>

      <div *ngFor="let hintIndex of [0, 1, 2, 3, 4]">
        <div class="form-group">
          <label for="hint{{ groupId }}{{ hintIndex }}">Dica {{ hintIndex + 1 }}:</label>
          <input type="text" id="hint{{ groupId }}{{ hintIndex }}" name="hint{{ groupId }}{{ hintIndex }}" [(ngModel)]="hints[groupId][hintIndex]" required>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!bookForm.valid">Salvar Livros</button>
  </form>
  <br>
  <button type="submit" (click)="clearBooks()">Limpar Formulário</button>
  <a href="/">Avançar</a>
</div>
